name: GitHub Pages

on:
  push:
    branches:
      - main    
  pull_request:         

jobs:
  docs:
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone Doxygen Awesome CSS
        run: git clone https://github.com/jothepro/doxygen-awesome-css.git

      - name: Generate Doxygen docs
        uses: mattnotmitt/doxygen-action@1.12.0
        with:
          doxyfile-path: ./Doxyfile

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        
          publish_dir: ./docs/html
    
